fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
python-dotenv
celery
redis
twilio
boto3
python-jose[cryptography]
bcrypt==3.2.2
passlib[bcrypt]
python-multipart
icalendar
requests
slowapi
sendgrid
python-dateutil
apscheduler
cloudinary
